.pageDetails{
  height: 50vw;
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: white;
}

.pageDetailsTitle{
 text-align: center;
}
/*  */
.pageDetailsDiv{
  
  padding: 10px;
  width: 900px;
  font-size: 30px;
  margin: 0 auto;
  
}
.biggerDiv{
  background-color: rgb(239, 239, 239);
}
.pageDetailsImg{
  border-radius: 5px;
  margin: 50px auto;
} 


.pageDetailsText{
  text-align: left;
  
}

.pageDetails h2{
  font-size: 40px;
  margin: 0;
}
/* .pageDetailsData{}

.pageDetailssmallTitle{} */






