

.contentDel h1, p{
  margin: 0;
}
.ListaNoticiasDiv{
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: center;
  text-align: left;
  margin-bottom: 100px; 
  font-size: 20px;
  
 
}
.ListaNoticiasDiv h1{
  margin: 0;
  margin-bottom: 20px;
}
.divImg img{
  width: 300px;
  height: 300px;
}
.divImg {
  display: flex;
  align-items: center;
}
/* .ListaNoticiasImg{
  border-radius: 5px;
  width: 15%;
  text-align: right;
}  */
.ListaNoticiasDiv{
  padding: 50px 0 100px 0;
}
.ListaNoticiasImg:hover{
  border: 1px solid #777;
} 

h2{
  margin: 30px 0;
  font-size: 30px;
}
.ListaNoticiasButton{
    background-color: black;
    color: white;
    background-color: black;
    padding: 6px;
    font-size: 20px;
    border: 1px solid white;
    width: 240px;
    transition: 1s;
    margin-bottom: 10px;
}
.ListaNoticiasButton:hover {
  background-color: white;
  color: white;
  background-color: transparent;
  color: black;
  padding: 6px;
  width: 70%;
  font-size: 20px;
  border: 1px solid black;
  transition: 1s;
  
  margin-bottom: 10px;
  
}
.contentDel{
  width: 600px;
  height: 200px;
  line-height: 40px;
  margin-right: 30px;
}