/* .ListaNoticias{
  padding:20px;
  margin-top:30px;
} */

.ListaNoticiasTitle{
 text-align: center;
}

.ListaNoticiasDiv{
  border: 1px solid gray;
  border-radius: 5px; 
  padding: 20px;
  justify-content: center;
  width: 100%;
  margin: 0 auto 50px auto;  
  text-align: center;
  
}

.divMaior{
  display: flex;
}
/* .ListaNoticiasImg{
  border-radius: 5px;
  width: 15%;
  text-align: right;
}  */

.ListaNoticiasImg:hover{
  border: 1px solid #777;
} 

.ListaNoticiasText{
  text-align: center;
  
}
.ListaNoticiasButton{
    background-color: white;
    color: white;
    background-color: #555555;
    padding: 4px;
    border-radius: 9px;
    font-size: 20px;
    border: 1px solid #555555;
    transition: 1s;
    margin-bottom: 10px;
}
.ListaNoticiasButton:hover {
  background-color: white;
  color: white;
  background-color: rgb(152, 149, 149);
  padding: 4px;
  border-radius: 9px;
  font-size: 20px;
  border: 1px solid #555555;
  transition: 1s;
  margin-bottom: 10px;
  
}
.contentDel{
  width: 500px;
  display: grid;
  margin: 0 auto;
}